<section class="container center">

  <!-- This is a Semantic HTML Change -->
  <section class="page-area">
    <main id="main">
      <pb-breadcrumbs></pb-breadcrumbs>
      </main>
    <pb-article>
    <h2>Stay on Track</h2>

    <p>Do you know where you are spending your money? If you really stop to track it down, you would get surprised! Proper budget management depends on real data... and this app will help you with that!
    </p>
  </pb-article>

      <pb-article>
          <!-- This is an A11y Change -->
          <h2>Alerts</h2>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>

      <pb-article>
          <!-- This is an A11y Change -->
          <h2>Results</h2>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>

      <pb-article>
          <!-- This is an A11y Change -->
          <h2>Free</h2>
          <p>
              This app is free!!! And you are the only one holding your data!
          </p>
      </pb-article>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

      <pb-breadcrumbs></pb-breadcrumbs>
      <article class="graphs_container">
        <h1>Chart</h1>
          <p>
          <canvas id="myChart" width="400" height="400"></canvas>
        </p>
      </article>

      <div class="center" style="height:500px">
        <h1>D3 Chart</h1>
        <p>
          <figure id="myD3Chart"></figure>
        </p>
    </div>




  </section>

</section>
